[Unit]
Description=HTPC Utils
Wants=tvheadend.service
After=acpid.service tvheadend.service

[Service]
Type=simple
ExecStart=/usr/lib/htpcutils/startup.sh
ExecStop=/usr/lib/htpcutils/lib/wakeup.py
Restart=on-failure

[Install]
WantedBy=multi-user.target
